.vscode/
MHVN98/bin/
MHVN98/obj/
MHVN98/objp/
MHVN98/genasm/
MHVN98/br.bat
MHVN98/putandrun.bat
MHVN98/run.bat
MHVNTEST/MHVN98.COM
MHVNTEST/PMD.COM
MHVNTEST/PMD86.COM
MHVNTEST/PMDB2.COM
MHVNTEST/PMDPPZ.COM
MHVNTEST/PMDPPZE.COM